#menu li.selected {
	color: #E3B873;
}

footer .navbar {
	position: relative;
	font-family: "Nunito Sans";
	background: #131313;
	width: 100%;
	height: 83px;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .navbar .head-container {
	margin: 0 auto;
	width: 1260px;
	padding-right: 0px;
	padding-left: 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer .navbar .head-container .navbar-brand {
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu {
	margin: auto;
}
footer .navbar .head-container .navbar-menu .navbar-list {
	display: flex;
	text-decoration: none;
	list-style-type: none;
	margin-bottom: 0px;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item .nav-link {
	padding: 0px 23.5px;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item:hover .nav-link {
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item:active {
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item.active:hover .nav-link {
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item.active .nav-link {
	color: #E3B873;
}
footer .navbar .head-container .menu-right {
	position: relative;
	display: flex;
	align-items: center;
}
footer .navbar .head-container .menu-right .menu-contact {
	width: 126px;
	text-align: right;
	margin-right: 45px;
}
footer .navbar .head-container .menu-right .menu-contact a span {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-decoration-line: underline;
	color: #E3B873;
}
footer .navbar .head-container .menu-right .call-button {
	width: 161px;
	text-align: center;
	background: #E3B873;
	box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 37px;
	color: #FFFFFF;
}