@charset "UTF-8";
/* Обнуление */
@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);
* {
	padding: 0;
	margin: 0;
	border: 0;
}

a {
	text-decoration: none;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	height: 100%;
}

ul,
ol,
li {
	list-style: none;
}

../img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Yeseva One";
	font-weight: 400;
}

#menu li.selected {
	color: #E3B873;
}

header {
	font-family: "Nunito Sans";
	background: #131313;
	position: relative;
}
header nav {
	width: 100%;
	height: 83px;
}
header .navbar {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
header .navbar .head-container {
	margin: 0 auto;
	width: 1260px;
	padding-right: 0px;
	padding-left: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
header .navbar .head-container .navbar-brand {
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
}
header .navbar .head-container .navbar-menu {
	margin: auto;
}
header .navbar .head-container .navbar-menu .navbar-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
	list-style-type: none;
	margin-bottom: 0px;
}
header .navbar .head-container .navbar-menu .navbar-list .nav-item .nav-link {
	padding: 0px 23.5px;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
header .navbar .head-container .navbar-menu .navbar-list .nav-item:hover .nav-link {
	color: #E3B873;
}
header .navbar .head-container .navbar-menu .navbar-list .nav-item.active .nav-link {
	color: #E3B873;
}
header .navbar .head-container .menu-right {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
header .navbar .head-container .menu-right .menu-contact {
	width: 126px;
	text-align: right;
	margin-right: 45px;
}
header .navbar .head-container .menu-right .menu-contact a span {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #E3B873;
}
header .navbar .head-container .menu-right .call-button {
	width: 161px;
	text-align: center;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 37px;
	color: #FFFFFF;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Nunito Sans";
	font-weight: 400;
	color: black;
}

.container {
	width: 1236px;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}

.wrapper {
	overflow: hidden;
	min-width: 100%;
}
.wrapper .home-banner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-image: url(../img/main-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 707px;
}
.wrapper .home-banner .container .content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 520px;
}
.wrapper .home-banner .container .content .title {
	font-family: "Yeseva One";
	font-size: 40px;
	line-height: 53px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.wrapper .home-banner .container .content .title span {
	color: #E3B873;
}
.wrapper .home-banner .container .content p {
	font-size: 22px;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 21px;
}
.wrapper .home-banner .container .content .buttons .btn-big {
	border-width: 0px;
	width: 207px;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-radius: 2px;
	font-size: 11px;
	line-height: 51px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 16px;
}
.wrapper .home-banner .container .content .buttons .btn-main {
	width: 207px;
	background: none;
	border: 1px solid #FFFFFF;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 2px;
	font-size: 11px;
	line-height: 49px;
	text-align: center;
	color: #FFFFFF;
}
.wrapper .projects {
	background: #131313;
	height: 1074px;
	position: relative;
}
.wrapper .projects .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .projects .swiper-container {
	overflow: hidden;
	position: relative;
	width: 1171px;
	height: 552px;
	margin: 107px 0px auto;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .top-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-bottom: 52px;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .top-content .card-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: "Yeseva One";
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	padding: 0px 30px;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .top-content .card-name.active {
	color: #E3B873;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .top-content .card-name.active ../img {
	position: relative;
	width: 105%;
	margin: 0px;
	padding-top: 5px;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info {
	width: 50%;
	padding-right: 50px;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-top h2 {
	font-size: 27px;
	line-height: 37px;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	padding-bottom: 34px;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-top p {
	font-size: 14px;
	line-height: 27px;
	color: #FFFFFF;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto auto;
	grid-template-columns: auto auto;
	-ms-grid-rows: 73px 73px;
	grid-template-rows: 73px 73px;
	padding-top: 40px;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(3) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom h3 {
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #E3B873;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom p {
	font-size: 13px;
	line-height: 21px;
	color: #FFFFFF;
}
.wrapper .projects .swiper-container .swiper-wrapper .swiper-slide .slide ../img {
	width: 56%;
	height: 482px;
}
.wrapper .projects .swiper-container .swiper-button-next,
.wrapper .projects .swiper-container .swiper-button-prev {
	top: 79%;
}
.wrapper .projects .swiper-container .swiper-button-next {
	left: 290px;
}
.wrapper .projects .swiper-container .swiper-button-prev {
	left: 135px;
}
.wrapper .projects .swiper-container .swiper-button-next:after,
.wrapper .projects .swiper-container .swiper-button-prev:after {
	content: "";
}
.wrapper .projects .swiper-container .swiper-button-next.swiper-button-disabled,
.wrapper .projects .swiper-container .swiper-button-prev.swiper-button-disabled {
	content: "";
	opacity: 1;
}
.wrapper .projects .swiper-container .swiper-pagination {
	width: auto;
	height: 0px;
	left: 16%;
	top: 77%;
}
.wrapper .projects .swiper-container .swiper-pagination-bullet {
	margin-right: 17.5px;
	width: 9.6px !important;
	height: 9.6px !important;
	background: rgba(255, 255, 255, 0.3) !important;
	opacity: 1 !important;
	cursor: pointer;
}
.wrapper .projects .swiper-container .swiper-pagination-bullet-active {
	width: 9.6px !important;
	height: 9.6px !important;
	background: white !important;
}
.wrapper .video {
	position: relative;
	top: -325px;
}
.wrapper .video .top {
	padding-bottom: 31px;
}
.wrapper .video .top h2 {
	font-family: "Yeseva One";
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 12px;
}
.wrapper .video .top .../img-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .video .top .../img-block .ward {
	padding: 0 9px;
}
.wrapper .video .top .../img-block .ward-arr {
	width: 32px;
}
.wrapper .video .video-817 {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 817px;
	height: 434px;
	margin: 0 auto;
	background: url(../img/videobg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper .video .video-817 .bg {
	position: absolute;
	width: 817px;
	height: 434px;
	background: rgba(0, 0, 0, 0.8);
}
.wrapper .video .video-817 .play_yt {
	position: absolute;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	cursor: pointer;
	top: 34%;
	left: 41%;
}
.wrapper .video .video-817 .ytvideo {
	position: relative;
	width: 100%;
	height: 100%;
}
.wrapper .reg {
	position: relative;
	top: -264px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .reg .container {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: top;
	    -ms-flex-pack: top;
	        justify-content: top;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	width: 800px;
}
.wrapper .reg .container ../img {
	padding-bottom: 26px;
}
.wrapper .reg .container p {
	width: 681px;
	font-size: 18px;
	line-height: 37px;
	text-align: center;
	color: #363636;
}
.wrapper .reg .container .last {
	padding-bottom: 82px;
}
.wrapper .reg .container .contact-block .form-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .reg .container .contact-block .form-container form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 35px;
}
.wrapper .reg .container .contact-block .form-container form .inpb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-right: 58px;
}
.wrapper .reg .container .contact-block .form-container form .inpb span {
	font-size: 13px;
	line-height: 21px;
	color: rgba(54, 54, 54, 0.5);
}
.wrapper .reg .container .contact-block .form-container form .inpb input {
	font-size: 14px;
	line-height: 23px;
	color: #363636;
}
.wrapper .reg .container .contact-block .form-container form .inpb ../img {
	padding-bottom: 0;
}
.wrapper .reg .container .contact-block .form-container form button {
	background: #E3B873;
	-webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	width: 200px;
	height: 50px;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.wrapper .reg .container .contact-block .form-container .line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
	font-size: 14px;
	line-height: 163.68%;
	color: #181818;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .reg .container .contact-block .form-container .line .custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.wrapper .reg .container .contact-block .form-container .line .custom-checkbox + label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.wrapper .reg .container .contact-block .form-container .line .custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	border: 1px solid #E3B873;
	border-radius: 10%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.wrapper .reg .container .contact-block .form-container .line .custom-checkbox:checked + label::before {
	border-color: #E3B873;
	background-color: #E3B873;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.wrapper .reg .container .contact-block .form-container .line input {
	margin-right: 9px;
}
.wrapper .reg .container .contact-block .form-container .line label {
	margin: 0;
}
.wrapper .repair {
	position: relative;
	top: -120px;
}
.wrapper .repair .container {
	padding: 0;
}
.wrapper .repair .section-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .repair .section-title h2 {
	margin: 0px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
	padding-bottom: 13px;
}
.wrapper .repair .section-title ../img {
	padding-bottom: 31px;
}
.wrapper .repair .repair-container {
	width: 1234px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wrapper .repair .repair-container .card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: none;
}
.wrapper .repair .repair-container .card ../img {
	max-width: 392px;
	max-height: 421px;
}
.wrapper .repair .repair-container .card .info {
	position: relative;
	bottom: 143px;
	width: 330px;
	height: 286px;
	background: #FFFFFF;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.wrapper .repair .repair-container .card .info .text {
	margin: 25px 31px 34px 31px;
}
.wrapper .repair .repair-container .card .info .text h3 {
	margin-bottom: 13px;
	font-size: 18px;
	line-height: 25px;
	color: #363636;
}
.wrapper .repair .repair-container .card .info .text .list {
	margin: 0px;
}
.wrapper .repair .repair-container .card .info .text .list li {
	margin-left: 25px;
	list-style-type: disc;
	font-size: 13px;
	line-height: 27px;
	color: #959595;
}
.wrapper .repair .repair-container .card .repair-btn {
	position: relative;
	bottom: 30px;
	height: 54px;
	width: 228px;
	border-radius: 0px;
	background: #E3B873;
	-webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	font-family: "Yeseva One";
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.wrapper .departure {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wrapper .departure .departure-info {
	width: 60%;
	height: 645px;
	background-image: url(../img/build-bg.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%;
	width: 473px;
	margin: 117px 79px 47px 170px;
}
.wrapper .departure .departure-info .info-block span {
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}
.wrapper .departure .departure-info .info-block .circle {
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	font-family: "Yeseva One Regular";
	background-color: #e3b873;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #fff;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 18px;
}
.wrapper .departure .departure-info .info-block .info-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block .info-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block .info-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block .info-4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-request {
	font-family: "Nunito Sans";
	width: 40%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-request .request-block {
	padding: 29px 49px;
	background: #131313;
	-webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	width: 509px;
}
.wrapper .departure .departure-request .request-block h4 {
	margin: auto;
	max-width: 297px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 39px;
}
.wrapper .departure .departure-request .request-block form .inpb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 48px;
}
.wrapper .departure .departure-request .request-block form .inpb:last-child {
	padding-bottom: 16px;
}
.wrapper .departure .departure-request .request-block form .inpb span {
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}
.wrapper .departure .departure-request .request-block form .inpb input {
	background: #131313;
	font-size: 14px;
	line-height: 23px;
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input::-webkit-input-placeholder {
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input::-moz-placeholder {
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input:-ms-input-placeholder {
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input::-ms-input-placeholder {
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input::placeholder {
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block .line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
	font-size: 14px;
	line-height: 163.68%;
	color: #FFFFFF;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 39px;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox + label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	border: 1px solid #E3B873;
	border-radius: 10%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox:checked + label::before {
	border-color: #E3B873;
	background-color: #E3B873;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.wrapper .departure .departure-request .request-block .line input {
	margin-right: 9px;
}
.wrapper .departure .departure-request .request-block .line label {
	margin: 0;
}
.wrapper .departure .departure-request .request-block button {
	margin-left: 198px;
	height: 51px;
	width: 213px;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.wrapper .departure .departure-request .help {
	position: relative;
	width: 509px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding-top: 38px;
	margin: 0 auto;
}
.wrapper .departure .departure-request .help ../img {
	width: 100px;
	padding-right: 25px;
}
.wrapper .departure .departure-request .help p {
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

#menu li.selected {
	color: #E3B873;
}

footer {
	font-family: "Nunito Sans";
	background: #131313;
	color: #FFFFFF;
	position: relative;
}
footer .navbar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 100%;
	height: 83px;
}
footer .navbar .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 0px 90px 0px 92px;
}
footer .navbar .container .navbar-brand {
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: #E3B873;
	padding-top: 5px;
	margin: 0px 95px 0px 0px;
}
footer .navbar .container .navbar-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
footer .navbar .container .navbar-menu .navbar-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
	list-style-type: none;
}
footer .navbar .container .navbar-menu .navbar-list .nav-item {
	padding-right: 53px;
}
footer .navbar .container .navbar-menu .navbar-list .nav-item:last-child {
	padding-right: 0px;
}
footer .navbar .container .navbar-menu .navbar-list .nav-item:first-child {
	padding-left: 27px;
}
footer .navbar .container .navbar-menu .navbar-list .nav-item .nav-link {
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
footer .navbar .container .navbar-menu .navbar-list .nav-item:hover .nav-link {
	color: #E3B873;
}
footer .navbar .container .navbar-menu .navbar-list .nav-item.active .nav-link {
	color: #E3B873;
}
footer .navbar .container .navbar-menu .menu-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
footer .navbar .container .navbar-menu .menu-right .menu-contact {
	width: 126px;
	text-align: right;
	padding-left: 67px;
	padding-right: 45px;
}
footer .navbar .container .navbar-menu .menu-right .menu-contact a span {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #E3B873;
}
footer .navbar .container .navbar-menu .menu-right .call-button {
	width: 161px;
	text-align: center;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 37px;
	color: #FFFFFF;
}