@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,italic);
/* Обнуление */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

a {
	text-decoration: none;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: none;
}

html {
	height: 100%;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Yeseva One";
	font-weight: 400;
}

#menu li.selected {
	color: #E3B873;
}

header .navbar {
	position: fixed;
	background: #131313;
	width: 100%;
	height: 83px;
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
header .navbar .header-container {
	margin: 0 auto;
	width: 1260px;
	padding-right: 0px;
	padding-left: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
header .navbar .header-container .navbar-brand {
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
}
header .navbar .header-container .navbar-menu {
	margin: auto;
}
header .navbar .header-container .navbar-menu .navbar-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
	list-style-type: none;
	margin-bottom: 0px;
}
header .navbar .header-container .navbar-menu .navbar-list .nav-item .nav-link {
	padding: 0px 23.5px;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
header .navbar .header-container .navbar-menu .navbar-list .nav-item:hover .nav-link {
	color: #E3B873;
}
header .navbar .header-container .navbar-menu .navbar-list .nav-item:active {
	color: #E3B873;
}
header .navbar .header-container .navbar-menu .navbar-list .nav-item.active:hover .nav-link {
	color: #E3B873;
}
header .navbar .header-container .navbar-menu .navbar-list .nav-item.active .nav-link {
	color: #E3B873;
}
header .navbar .header-container .menu-right {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
header .navbar .header-container .menu-right .menu-contact {
	width: 126px;
	text-align: right;
	margin-right: 45px;
}
header .navbar .header-container .menu-right .menu-contact a span {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
}
header .navbar .header-container .menu-right .menu-contact a span:hover {
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #E3B873;
}
header .navbar .header-container .menu-right .call-button {
	width: 161px;
	text-align: center;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 37px;
	color: #FFFFFF;
}

#menu li.selected {
	color: #E3B873;
}

footer .navbar {
	position: relative;
	background: #131313;
	width: 100%;
	height: 83px;
	z-index: 20;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
footer .navbar .head-container {
	margin: 0 auto;
	width: 1260px;
	padding-right: 0px;
	padding-left: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
footer .navbar .head-container .navbar-brand {
	text-decoration: none;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu {
	margin: auto;
}
footer .navbar .head-container .navbar-menu .navbar-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-decoration: none;
	list-style-type: none;
	margin-bottom: 0px;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item .nav-link {
	padding: 0px 23.5px;
	font-weight: 400;
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item:hover .nav-link {
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item:active {
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item.active:hover .nav-link {
	color: #E3B873;
}
footer .navbar .head-container .navbar-menu .navbar-list .nav-item.active .nav-link {
	color: #E3B873;
}
footer .navbar .head-container .menu-right {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
footer .navbar .head-container .menu-right .menu-contact {
	width: 126px;
	text-align: right;
	margin-right: 45px;
}
footer .navbar .head-container .menu-right .menu-contact a span {
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	color: #E3B873;
}
footer .navbar .head-container .menu-right .call-button {
	width: 161px;
	text-align: center;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
	border-radius: 2px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	line-height: 37px;
	color: #FFFFFF;
}

body {
	width: 100%;
	height: 100%;
	font-family: "Nunito Sans";
	font-weight: 400;
	color: black;
}

.container {
	width: 1236px;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto !important;
}

.bg {
	width: 100%;
	height: 100%;
	position: absolute;
}

.wrapper {
	overflow: hidden;
	min-width: 100%;
}
.wrapper .home-banner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-image: url(../img/main-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 707px;
}
.wrapper .home-banner .container .content {
	max-width: 520px;
}
.wrapper .home-banner .container .content .title {
	font-family: "Yeseva One";
	font-size: 40px;
	line-height: 133%;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 16px;
}
.wrapper .home-banner .container .content .title span {
	color: #E3B873;
}
.wrapper .home-banner .container .content p {
	font-size: 22px;
	line-height: 135%;
	color: #FFFFFF;
	margin-bottom: 21px;
}
.wrapper .home-banner .container .content .buttons .btn-big {
	font-style: italic;
	border-width: 0px;
	width: 207px;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
	border-radius: 2px;
	font-size: 11px;
	line-height: 51px;
	text-align: center;
	color: #FFFFFF;
	margin-right: 16px;
}
.wrapper .home-banner .container .content .buttons .btn-main {
	font-style: italic;
	width: 207px;
	background: none;
	border: 1px solid #FFFFFF;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border-radius: 2px;
	font-size: 11px;
	line-height: 49px;
	text-align: center;
	color: #FFFFFF;
}
.wrapper .projects {
	background: #131313;
	height: 1074px;
	position: relative;
}
.wrapper .projects .swiper-wrapper {
	padding-top: 102px;
}
.wrapper .projects .swiper-wrapper .swiper-slide {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.wrapper .projects .swiper-wrapper .swiper-slide .top-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding-bottom: 45px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .top-content .card-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: "Yeseva One";
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.3);
	margin: 0px 30px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .top-content .card-name:last-child {
	margin-right: 73px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .top-content .card-name.active {
	color: #E3B873;
	border-bottom: solid 1px #E3B873;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 20px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
	padding-right: 50px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-top {
	padding-bottom: 49px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-top h2 {
	font-size: 27px;
	line-height: 138.6%;
	letter-spacing: -0.07em;
	text-transform: uppercase;
	color: #E3B873;
	padding-bottom: 34px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-top p {
	font-size: 14px;
	line-height: 158.48%;
	color: #FFFFFF;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 164px auto;
	grid-template-columns: 164px auto;
	-ms-grid-rows: 106px 106px;
	grid-template-rows: 106px 106px;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(3) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom h3 {
	font-size: 18px;
	line-height: 139%;
	padding-bottom: 7px;
	text-transform: uppercase;
	color: #E3B873;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .card-bottom p {
	font-size: 13px;
	line-height: 120%;
	color: #FFFFFF;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .mobile-arr {
	display: none;
}
.wrapper .projects .swiper-wrapper .swiper-slide .slide .slide-info .slide-img {
	width: 679px;
	height: 482px;
}
.wrapper .video {
	position: relative;
	top: -325px;
}
.wrapper .video .top {
	padding-bottom: 31px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .video .top h2 {
	font-family: "Yeseva One";
	font-weight: 400;
	font-size: 20px;
	line-height: 139%;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 12px;
}
.wrapper .video .top .img-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .video .top .img-block .ward {
	padding: 0 9px;
}
.wrapper .video .top .img-block .ward-arr {
	width: 32px;
}
.wrapper .video .video-817 {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	max-width: 817px;
	height: 434px;
	margin: 0 auto;
	background: url(../img/videobg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper .video .video-817 .bg {
	background: rgba(0, 0, 0, 0.8);
}
.wrapper .video .video-817 .play_yt {
	position: absolute;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	cursor: pointer;
	top: 34%;
	left: 41%;
}
.wrapper .video .video-817 .ytvideo {
	position: relative;
	width: 100%;
	height: 100%;
}
.wrapper .reg {
	position: relative;
	top: -264px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .reg .container {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: top;
	    -ms-flex-pack: top;
	        justify-content: top;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	width: 800px;
}
.wrapper .reg .container img {
	padding-bottom: 26px;
}
.wrapper .reg .container p {
	max-width: 681px;
	font-size: 18px;
	line-height: 170%;
	text-align: center;
	color: #363636;
}
.wrapper .reg .container .last {
	padding-bottom: 82px;
}
.wrapper .reg .container .contact-form .form-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .reg .container .contact-form .form-container form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 35px;
}
.wrapper .reg .container .contact-form .form-container form .inpb {
	width: 231px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-right: 58px;
}
.wrapper .reg .container .contact-form .form-container form .inpb span {
	font-size: 13px;
	line-height: 161%;
	color: rgba(54, 54, 54, 0.5);
}
.wrapper .reg .container .contact-form .form-container form .inpb input {
	font-size: 14px;
	line-height: 23px;
	color: #363636;
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
	outline: none;
}
.wrapper .reg .container .contact-form .form-container form .inpb input:hover {
	border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.wrapper .reg .container .contact-form .form-container form .inpb input::-webkit-input-placeholder {
	background: #ffffff;
	color: #ffffff;
}
.wrapper .reg .container .contact-form .form-container form .inpb input::-moz-placeholder {
	background: #ffffff;
	color: #ffffff;
}
.wrapper .reg .container .contact-form .form-container form .inpb input:-ms-input-placeholder {
	background: #ffffff;
	color: #ffffff;
}
.wrapper .reg .container .contact-form .form-container form .inpb input::-ms-input-placeholder {
	background: #ffffff;
	color: #ffffff;
}
.wrapper .reg .container .contact-form .form-container form .inpb input::placeholder {
	background: #ffffff;
	color: #ffffff;
}
.wrapper .reg .container .contact-form .form-container form button {
	background: #E3B873;
	-webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
	border-radius: 2px;
	width: 200px;
	height: 50px;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}
.wrapper .reg .container .contact-form .form-container .line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
	font-size: 14px;
	line-height: 163.68%;
	color: #181818;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .reg .container .contact-form .form-container .line .custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.wrapper .reg .container .contact-form .form-container .line .custom-checkbox + label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.wrapper .reg .container .contact-form .form-container .line .custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	border: 1px solid #E3B873;
	border-radius: 10%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.wrapper .reg .container .contact-form .form-container .line .custom-checkbox:checked + label::before {
	border-color: #E3B873;
	background-color: #E3B873;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.wrapper .reg .container .contact-form .form-container .line input {
	margin-right: 9px;
}
.wrapper .reg .container .contact-form .form-container .line label {
	margin: 0;
}
.wrapper .repair {
	position: relative;
	top: -195px;
	margin-bottom: -71px;
}
.wrapper .repair .container {
	padding: 0;
}
.wrapper .repair .section-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .repair .section-title h2 {
	margin: 0px;
	font-size: 20px;
	line-height: 138%;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
	padding-bottom: 13px;
}
.wrapper .repair .section-title img {
	padding-bottom: 31px;
}
.wrapper .repair .repair-container {
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wrapper .repair .repair-container .card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: none;
}
.wrapper .repair .repair-container .card img {
	max-width: 392px;
	max-height: 421px;
}
.wrapper .repair .repair-container .card .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	bottom: 127px;
	width: 330px;
	height: 286px;
	background: #FFFFFF;
	-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
	        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.wrapper .repair .repair-container .card .info .text {
	width: 267px;
	margin: 23px auto;
}
.wrapper .repair .repair-container .card .info .text h3 {
	margin-bottom: 7px;
	font-size: 18px;
	line-height: 139%;
	color: #363636;
}
.wrapper .repair .repair-container .card .info .text .list {
	margin-left: -4.5px;
}
.wrapper .repair .repair-container .card .info .text .list li {
	margin-left: 20px;
	list-style-type: disc;
	font-size: 13px;
	line-height: 169%;
	color: #959595;
}
.wrapper .repair .repair-container .card .repair-bottom {
	text-align: center;
	position: relative;
	bottom: 7px;
	width: 228px;
	background: #E3B873;
	-webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	        box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
	font-family: "Yeseva One";
	font-weight: 400;
	font-size: 18px;
	line-height: 54px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.wrapper .departure {
	position: relative;
	margin-bottom: 242px;
}
.wrapper .departure .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.wrapper .departure .departure-info {
	-webkit-transform: translateY(-85px);
	    -ms-transform: translateY(-85px);
	        transform: translateY(-85px);
	width: 60%;
	height: 645px;
	background-image: url(../img/build-bg.jpg);
	background-repeat: no-repeat;
	background-size: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%;
	width: 473px;
	margin: 117px 79px 47px 170px;
}
.wrapper .departure .departure-info .info-block span {
	font-size: 14px;
	line-height: 19px;
	color: #363636;
}
.wrapper .departure .departure-info .info-block .circle {
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	font-family: "Yeseva One Regular";
	background-color: #e3b873;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #fff;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: 18px;
}
.wrapper .departure .departure-info .info-block .info-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block .info-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block .info-3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-info .info-block .info-4 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-request {
	width: 43%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .departure .departure-request .request-block {
	padding: 29px 49px;
	background: #131313;
	-webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	        box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
	width: 509px;
}
.wrapper .departure .departure-request .request-block h4 {
	margin: auto;
	max-width: 297px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 39px;
}
.wrapper .departure .departure-request .request-block form .inpb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 48px;
}
.wrapper .departure .departure-request .request-block form .inpb:last-child {
	padding-bottom: 16px;
}
.wrapper .departure .departure-request .request-block form .inpb span {
	font-size: 13px;
	line-height: 161%;
	color: rgba(255, 255, 255, 0.5);
}
.wrapper .departure .departure-request .request-block form .inpb input {
	background: #131313;
	font-size: 14px;
	line-height: 164%;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	outline: none;
}
.wrapper .departure .departure-request .request-block form .inpb input:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.wrapper .departure .departure-request .request-block form .inpb input::-webkit-input-placeholder {
	background: #131313;
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input::-moz-placeholder {
	background: #131313;
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input:-ms-input-placeholder {
	background: #131313;
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input::-ms-input-placeholder {
	background: #131313;
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block form .inpb input::placeholder {
	background: #131313;
	color: #ffffff;
}
.wrapper .departure .departure-request .request-block .line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
	font-size: 14px;
	line-height: 163.68%;
	color: #FFFFFF;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 39px;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox + label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	border: 1px solid #E3B873;
	border-radius: 10%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.wrapper .departure .departure-request .request-block .line .custom-checkbox:checked + label::before {
	border-color: #E3B873;
	background-color: #E3B873;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.wrapper .departure .departure-request .request-block .line input {
	margin-right: 9px;
}
.wrapper .departure .departure-request .request-block .line label {
	margin: 0;
}
.wrapper .departure .departure-request .request-block button {
	margin-left: 198px;
	height: 51px;
	width: 213px;
	font-size: 13px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
	        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.wrapper .departure .departure-request .help {
	position: relative;
	width: 509px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding-top: 38px;
	margin: 0 auto;
}
.wrapper .departure .departure-request .help img {
	width: 100px;
	padding-right: 25px;
}
.wrapper .departure .departure-request .help p {
	font-size: 18px;
	line-height: 26px;
	color: #E3B873;
	text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.wrapper .fantasies {
	position: relative;
	background: url(../img/bg-fantasies.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.wrapper .fantasies .bg {
	background: -o-linear-gradient(340.2deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
	background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.wrapper .fantasies .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-right: 17px;
	padding-left: 17px;
	height: 864px;
}
.wrapper .fantasies .container .title-block {
	padding: 137px 77px 0px 0px;
}
.wrapper .fantasies .container .title-block h2 {
	font-size: 27px;
	line-height: 37px;
	text-transform: uppercase;
	color: #E3B873;
	padding-bottom: 47px;
}
.wrapper .fantasies .container .title-block .fantasies-names {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 516px;
}
.wrapper .fantasies .container .title-block .fantasies-names .fantasies-item {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	text-align: left;
	position: relative;
	font-size: 20px;
	line-height: 38px;
	color: #FFFFFF;
	cursor: pointer;
}
.wrapper .fantasies .container .title-block .fantasies-names .fantasies-item:hover {
	color: #E3B873;
}
.wrapper .fantasies .container .title-block .fantasies-names .fantasies-item:last-child {
	padding-bottom: 0px;
}
.wrapper .fantasies .container .title-block .fantasies-names .fantasies-item.active {
	color: #E3B873;
	border-bottom: solid 1px #E3B873;
}
.wrapper .fantasies .container .img-block {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 63%;
}
.wrapper .fantasies .container .img-block img {
	padding-bottom: 37px;
}
.wrapper .fantasies .container .img-block .img-collum-1 {
	padding-right: 43px;
	-webkit-transform: translateY(-41px);
	    -ms-transform: translateY(-41px);
	        transform: translateY(-41px);
}
.wrapper .fantasies .container .img-block .img-collum-2 {
	-webkit-transform: translateY(-112px);
	    -ms-transform: translateY(-112px);
	        transform: translateY(-112px);
}
.wrapper .mobile {
	display: none;
}
.wrapper .clients {
	padding-top: 110px;
}
.wrapper .clients .title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .clients .title h2 {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #181818;
	padding-bottom: 15px;
}
.wrapper .clients .title img {
	padding-bottom: 23px;
}
.wrapper .clients .title p {
	padding-left: 20px;
	padding-right: 20px;
	width: 476px;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: #363636;
	padding-bottom: 39px;
}
.wrapper .clients .feedback {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}
.wrapper .clients .feedback .card {
	width: 376px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: #FFFFFF;
	-webkit-box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
	        box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.wrapper .clients .feedback .card .card-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 24px 20px;
}
.wrapper .clients .feedback .card .card-top img {
	margin-right: 20px;
	border: none;
	border-radius: 50%;
}
.wrapper .clients .feedback .card .card-top h4 {
	font-size: 18px;
	line-height: 23px;
	color: #181818;
}
.wrapper .clients .feedback .card .card-text {
	padding: 0px 32px 60px 20px;
	font-size: 13px;
	line-height: 180%;
	color: #959595;
}
.wrapper .clients .feedback .card .card-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	width: 293px;
	background: #E3B873;
	-webkit-box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
	        box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
	-webkit-transform: translateY(27px);
	    -ms-transform: translateY(27px);
	        transform: translateY(27px);
}
.wrapper .clients .feedback .card .card-bottom img {
	margin-right: 15px;
}
.wrapper .clients .feedback .card .card-bottom h4 {
	font-size: 17px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.wrapper .clients .feedback .card .card-bottom .sec-1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding: 11px;
	width: 50%;
	border-right: solid 1px #FFFFFF;
}
.wrapper .clients .feedback .card .card-bottom .sec-2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	padding: 11px;
	width: 50%;
}
.wrapper .city-bg {
	height: 400px;
	background: url(../img/icons/city-left.svg) 0% no-repeat, url(../img/icons/city-right.svg) 100% no-repeat;
	opacity: 0.05;
}
.wrapper .map {
	border: none;
	z-index: 1;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	height: 953px;
	background-image: url(../img/bg-map.jpg);
}
.wrapper .map .questions {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	height: 0px;
	z-index: 10;
	-webkit-transform: translateY(-226px);
	    -ms-transform: translateY(-226px);
	        transform: translateY(-226px);
}
.wrapper .map .questions .content-questions {
	margin: 0 171px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	background: #181818;
	padding: 34px 181.5px;
}
.wrapper .map .questions .content-questions h2 {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 45px;
}
.wrapper .map .questions .content-questions form {
	width: 100%;
}
.wrapper .map .questions .content-questions form .row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 48px;
}
.wrapper .map .questions .content-questions form .inpb {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
}
.wrapper .map .questions .content-questions form .inpb span {
	font-size: 13px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
}
.wrapper .map .questions .content-questions form .inpb .question {
	width: 100%;
}
.wrapper .map .questions .content-questions form .inpb input {
	width: 231px;
	background: #181818;
	font-size: 14px;
	line-height: 23px;
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	outline: none;
}
.wrapper .map .questions .content-questions form .inpb input:hover {
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.wrapper .map .questions .content-questions form .inpb input::-webkit-input-placeholder {
	background: #181818;
	color: #ffffff;
}
.wrapper .map .questions .content-questions form .inpb input::-moz-placeholder {
	background: #181818;
	color: #ffffff;
}
.wrapper .map .questions .content-questions form .inpb input:-ms-input-placeholder {
	background: #181818;
	color: #ffffff;
}
.wrapper .map .questions .content-questions form .inpb input::-ms-input-placeholder {
	background: #181818;
	color: #ffffff;
}
.wrapper .map .questions .content-questions form .inpb input::placeholder {
	background: #181818;
	color: #ffffff;
}
.wrapper .map .questions .content-questions .line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: normal;
	font-size: 14px;
	line-height: 163.68%;
	color: #FFFFFF;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 48px;
	padding-bottom: 50px;
}
.wrapper .map .questions .content-questions .line .custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.wrapper .map .questions .content-questions .line .custom-checkbox + label {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
.wrapper .map .questions .content-questions .line .custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	-webkit-box-flex: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	border: 1px solid #E3B873;
	border-radius: 10%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.wrapper .map .questions .content-questions .line .custom-checkbox:checked + label::before {
	border-color: #E3B873;
	background-color: #E3B873;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.wrapper .map .questions .content-questions .line input {
	margin-right: 9px;
}
.wrapper .map .questions .content-questions .line label {
	margin: 0;
}
.wrapper .map .questions .content-questions button {
	width: 200px;
	height: 51px;
	font-size: 13px;
	line-height: 27px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #E3B873;
	-webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
	        box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
}
.wrapper .map .bg {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(3.47%, rgba(24, 24, 24, 0.9)), to(rgba(24, 24, 24, 0.72)));
	background: -o-linear-gradient(top, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
	background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
}
.wrapper .map .content {
	padding-top: 274px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.wrapper .map .content h2 {
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
	color: #E3B873;
	padding-bottom: 26px;
}
.wrapper .map .content .soc-links {
	padding-bottom: 43px;
}
.wrapper .map .content .soc-links img {
	padding-right: 15px;
}
.wrapper .map .content .soc-links img:last-child {
	padding-right: 0px;
}
.wrapper .map .content iframe {
	-webkit-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
	        filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
	width: 925px;
	height: 465px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
	.container {
		max-width: 375px;
		width: auto !important;
		padding-right: 18px !important;
		padding-left: 18px !important;
	}

	header .navbar {
		position: relative;
		height: 57px;
	}
	header .navbar .header-container {
		margin: 0px 18px;
	}
	header .navbar .header-container .navbar-menu {
		display: none;
	}
	header .navbar .header-container .menu-right .menu-contact {
		margin: 0px;
	}
	header .navbar .header-container .menu-right .call-button {
		display: none;
	}

	.home-banner {
		height: 476px !important;
	}
	.home-banner .content {
		height: 353px;
		padding-top: 22px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.home-banner .content .title {
		font-size: 23px !important;
		margin-bottom: 0px !important;
	}
	.home-banner .content p {
		font-size: 14px !important;
		margin-bottom: 50px !important;
	}
	.home-banner .content .buttons {
		position: relative;
		width: 100%;
	}
	.home-banner .content .buttons .btn-big {
		width: 100% !important;
		margin-bottom: 26px;
	}
	.home-banner .content .buttons .btn-main {
		width: 100% !important;
	}

	.projects .swiper-wrapper {
		padding-top: 31px !important;
	}
	.projects .top-content {
		display: none !important;
	}
	.projects .slide {
		height: 650px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 0 !important;
	}
	.projects .slide .slide-info {
		width: 100% !important;
		padding: 0px !important;
	}
	.projects .slide .slide-info .card-top {
		margin: 0px auto;
		text-align: center;
	}
	.projects .slide .slide-info .card-top h2 {
		padding-bottom: 27px !important;
		font-size: 22px !important;
		margin: 3px 40px;
	}
	.projects .slide .slide-info .card-top p {
		font-size: 11px !important;
		line-height: 158.48%;
	}
	.projects .slide .slide-info .mobile-arr {
		z-index: 2;
		display: block !important;
	}
	.projects .slide .slide-info .mobile-arr img {
		display: block !important;
		position: absolute;
		top: 49%;
	}
	.projects .slide .slide-info .mobile-arr .left {
		left: 11px;
	}
	.projects .slide .slide-info .mobile-arr .right {
		right: 11px;
	}
	.projects .slide .slide-info .card-bottom {
		-webkit-transform: translateY(300px);
		    -ms-transform: translateY(300px);
		        transform: translateY(300px);
		-ms-grid-columns: 160px 160px !important;
		grid-template-columns: 160px 160px !important;
		-ms-grid-rows: 95px 95px !important;
		grid-template-rows: 95px 95px !important;
	}
	.projects .slide .slide-info .card-bottom > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.projects .slide .slide-info .card-bottom > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.projects .slide .slide-info .card-bottom > *:nth-child(3) {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.projects .slide .slide-info .card-bottom > *:nth-child(4) {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}
	.projects .slide .slide-info .card-bottom h3 {
		font-size: 14px !important;
		padding-bottom: 14px !important;
	}
	.projects .slide .slide-info .card-bottom p {
		font-size: 11px !important;
		margin-right: 60px;
	}
	.projects .slide .slide-info img {
		display: none;
	}
	.projects .slide .slide-img {
		height: 241px;
		-webkit-transform: translateY(-194px);
		    -ms-transform: translateY(-194px);
		        transform: translateY(-194px);
	}

	.video {
		top: -350px !important;
	}
	.video .top h2 {
		font-size: 22px !important;
		padding-bottom: 18px !important;
	}
	.video .video-817 {
		max-width: 340px !important;
		height: 207px !important;
	}
	.video .video-817 .play_yt {
		top: 40% !important;
		left: 41% !important;
		width: 65px !important;
	}

	.reg {
		height: 479px;
		top: -316px !important;
		background: #131313;
	}
	.reg .container {
		height: 100%;
	}
	.reg img {
		padding-bottom: 22px !important;
	}
	.reg p {
		font-size: 11px !important;
		color: #FFFFFF !important;
	}
	.reg .last {
		padding-bottom: 78px !important;
	}
	.reg .contact-form {
		width: 100%;
	}
	.reg .contact-form .form-container form {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		    -ms-flex-direction: column !important;
		        flex-direction: column !important;
	}
	.reg .contact-form .form-container form .inpb {
		padding-right: 0px !important;
		margin-right: 0px !important;
		padding-bottom: 67px !important;
	}
	.reg .contact-form .form-container form .inpb:last-of-type {
		padding-bottom: 0px !important;
	}
	.reg .contact-form .form-container form .inpb span {
		line-height: 139% !important;
		color: rgba(255, 255, 255, 0.5) !important;
	}
	.reg .contact-form .form-container form .inpb input {
		background: #131313;
		color: #ffffff !important;
		border-bottom: 1px solid rgba(54, 54, 54, 0.3) !important;
	}
	.reg .contact-form .form-container form .inpb input:hover {
		border-bottom: 1px solid rgba(54, 54, 54, 0.3) !important;
	}
	.reg .contact-form .form-container form .inpb input::-webkit-input-placeholder {
		background: #131313 !important;
		color: #ffffff;
	}
	.reg .contact-form .form-container form .inpb input::-moz-placeholder {
		background: #131313 !important;
		color: #ffffff;
	}
	.reg .contact-form .form-container form .inpb input:-ms-input-placeholder {
		background: #131313 !important;
		color: #ffffff;
	}
	.reg .contact-form .form-container form .inpb input::-ms-input-placeholder {
		background: #131313 !important;
		color: #ffffff;
	}
	.reg .contact-form .form-container form .inpb input::placeholder {
		background: #131313 !important;
		color: #ffffff;
	}
	.reg .contact-form .form-container form button {
		-webkit-transform: translateY(110px);
		    -ms-transform: translateY(110px);
		        transform: translateY(110px);
		width: 100% !important;
	}
	.reg .contact-form .form-container .line {
		-webkit-transform: translateY(-57px);
		    -ms-transform: translateY(-57px);
		        transform: translateY(-57px);
		color: #FFFFFF !important;
		-ms-flex-item-align: start !important;
		    -ms-grid-row-align: start !important;
		    align-self: start !important;
	}

	.repair {
		top: -233px !important;
		margin-bottom: -228px !important;
	}
	.repair .container .section-title h2 {
		font-size: 22px !important;
	}
	.repair .container .repair-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.repair .container .repair-container .card {
		position: relative;
		-webkit-box-align: start !important;
		    -ms-flex-align: start !important;
		        align-items: start !important;
		height: 543px;
	}
	.repair .container .repair-container .card img {
		width: 100% !important;
		height: 365px !important;
	}
	.repair .container .repair-container .card .info {
		width: 80% !important;
		height: 240px !important;
	}
	.repair .container .repair-container .card .info .text {
		width: auto;
	}
	.repair .container .repair-container .card .info .repair-bottom {
		width: 72% !important;
		font-size: 15px !important;
		line-height: 40px !important;
	}

	.departure {
		display: none;
	}

	.fantasies {
		display: none;
	}

	.mobile {
		display: block !important;
	}
	.mobile .fantasies-mobile {
		background: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #181818), color-stop(45%, white));
		background: -o-linear-gradient(bottom, #181818 45%, white 45%);
		background: linear-gradient(to top, #181818 45%, white 45%);
		padding-bottom: 50px;
	}
	.mobile .fantasies-mobile .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.mobile .fantasies-mobile .container h2 {
		font-size: 22px;
		line-height: 138.6%;
		text-align: center;
		text-transform: uppercase;
		color: #E3B873;
		padding-bottom: 32px;
		width: 250px;
	}
	.mobile .fantasies-mobile .container .swiper-wrapper {
		position: relative;
	}
	.mobile .fantasies-mobile .container .swiper-wrapper .swiper-slide {
		width: 340px;
		height: 242px;
	}
	.mobile .fantasies-mobile .container .swiper-wrapper .swiper-slide img {
		width: 100%;
		height: 100%;
	}
	.mobile .fantasies-mobile .container .swiper-wrapper .mobile-arr img {
		z-index: 2;
		position: absolute;
		top: 42%;
	}
	.mobile .fantasies-mobile .container .swiper-wrapper .mobile-arr .left {
		left: 12px;
	}
	.mobile .fantasies-mobile .container .swiper-wrapper .mobile-arr .right {
		right: 12px;
	}
	.mobile .map-mobile {
		height: 1023px !important;
		background: #181818 !important;
	}
	.mobile .map-mobile .container .content-questions {
		padding-bottom: 44px;
	}
	.mobile .map-mobile .container .content-questions h2 {
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		padding-bottom: 52px;
	}
	.mobile .map-mobile .container .content-questions form {
		width: 100%;
	}
	.mobile .map-mobile .container .content-questions form .inpb {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: start;
		    -ms-flex-align: start;
		        align-items: start;
		padding-bottom: 62px;
	}
	.mobile .map-mobile .container .content-questions form .inpb:last-child {
		padding-bottom: 23px;
	}
	.mobile .map-mobile .container .content-questions form .inpb span {
		font-size: 13px;
		line-height: 21px;
		color: rgba(255, 255, 255, 0.5);
	}
	.mobile .map-mobile .container .content-questions form .inpb input {
		width: 100%;
		background: #181818;
		font-size: 14px;
		line-height: 23px;
		color: #ffffff;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		outline: none;
	}
	.mobile .map-mobile .container .content-questions form .inpb input:hover {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
	.mobile .map-mobile .container .content-questions form .inpb input::-webkit-input-placeholder {
		background: #181818;
		color: #ffffff;
	}
	.mobile .map-mobile .container .content-questions form .inpb input::-moz-placeholder {
		background: #181818;
		color: #ffffff;
	}
	.mobile .map-mobile .container .content-questions form .inpb input:-ms-input-placeholder {
		background: #181818;
		color: #ffffff;
	}
	.mobile .map-mobile .container .content-questions form .inpb input::-ms-input-placeholder {
		background: #181818;
		color: #ffffff;
	}
	.mobile .map-mobile .container .content-questions form .inpb input::placeholder {
		background: #181818;
		color: #ffffff;
	}
	.mobile .map-mobile .container .content-questions .line {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		font-weight: normal;
		font-size: 14px;
		line-height: 163.68%;
		color: #FFFFFF;
		text-align: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-bottom: 65px;
	}
	.mobile .map-mobile .container .content-questions .line .custom-checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	.mobile .map-mobile .container .content-questions .line .custom-checkbox + label {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
	}
	.mobile .map-mobile .container .content-questions .line .custom-checkbox + label::before {
		content: "";
		display: inline-block;
		width: 18px;
		height: 18px;
		-ms-flex-negative: 0;
		    flex-shrink: 0;
		-webkit-box-flex: 0;
		    -ms-flex-positive: 0;
		        flex-grow: 0;
		border: 1px solid #E3B873;
		border-radius: 10%;
		margin-right: 0.5em;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}
	.mobile .map-mobile .container .content-questions .line .custom-checkbox:checked + label::before {
		border-color: #E3B873;
		background-color: #E3B873;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
	}
	.mobile .map-mobile .container .content-questions .line input {
		margin-right: 9px;
	}
	.mobile .map-mobile .container .content-questions .line label {
		margin: 0;
	}
	.mobile .map-mobile .container .content-questions button {
		width: 100%;
		height: 51px;
		font-size: 13px;
		line-height: 27px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #E3B873;
	}
	.mobile .map-mobile .container .content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.mobile .map-mobile .container .content .contacts-map {
		width: 100%;
		height: 255px;
		margin-bottom: 40px;
	}
	.mobile .map-mobile .container .content h2 {
		font-size: 18px;
		line-height: 138.6%;
		text-align: center;
		text-transform: uppercase;
		color: #E3B873;
		margin-bottom: 24px;
	}
	.mobile .map-mobile .container .content .soc-links img {
		margin: 0px 8px;
		width: 39px;
		height: 39px;
	}

	.clients {
		display: none;
	}

	.city-bg {
		display: none;
	}

	.map {
		display: none;
	}

	footer {
		display: none;
	}
}
@media screen and (min-device-width: 320px) and (max-device-width: 374px) {
	.reg .container p {
		width: 300px !important;
	}
	.reg .container .last {
		padding-bottom: 60px !important;
	}
	.reg .container .contact-form .form-container .inpb {
		padding-bottom: 60px !important;
	}
	.reg .container .contact-form .form-container button {
		-webkit-transform: translateY(115px);
		    -ms-transform: translateY(115px);
		        transform: translateY(115px);
	}

	.mobile .map-mobile .container .content h2 {
		font-size: 16px;
	}
}